{% if not username %}
<p></p>
To post, comment, like or message, you need to be logged in. <br>
<a href="/login">Login</a> | <a href="/register">Register</a>
{% endif %}

{% if username %}
<p></p>
Logged in as {{ username[0] }} <br>
<a href="/logout">Logout</a> | <a href="/messages">Messages</a>
{% endif %}

<p></p>
<a href="/users">Search users</a>

{% if username %}
<p></p>
<a href="/create_thread">Create new thread</a>
<p></p>
{% endif %}

<p></p>
<form action="/result" method="GET">
<input type="text" name="query">
<input type="submit" value="search">
</form>

{% if query %}
<a href="/">Show all</a>
<p>Threads which contain "{{ query }}":</p>
{% endif %}

<br>
<hr>
{% for thread in threads %}
<i>Topic: </i>{{ thread.topic }}
<br>
<i>User: </i>{{ thread.username }} | <i>Date: </i>{{ thread.sent_at.strftime("%Y-%m-%d %H:%M") }}
<br>
<a href="/thread/{{ thread.id }}">Open</a>
<hr>
{% endfor %}
