{% if not user_id %}
<p></p>
To post, you need to be logged in. <br>
<a href="/login">Login</a> | <a href="/register">Register</a>
{% endif %}

{% if user_id %}
<p></p>
Logged in as {{ user_id }} <br>
<a href="/logout">Logout</a>
{% endif %}

<p></p>
<a href="/create_thread">Create new thread</a>
<p></p>
<hr>
{% for thread in threads %}
<i>Topic: </i>{{ thread.content }}
<br>
<i>User: </i>{{ thread.username }} | <i>Date: </i>{{ thread.sent_at }}
<br>
<a href="/thread/{{ thread.id }}">Open</a>
<hr>
{% endfor %}
