{% if username %}
Logged in as {{ username[0] }}
{% else %}
To post, comment or like, you need to be logged in.
{% endif %}

<p>
<a href="/">Back</a>
<br><p></p>
<hr>
<i>Topic: </i>{{ thread.topic }}
<p>
{{ thread.content }}
<p>
<i>User: </i>{{ thread.username }} | <i>Date: </i>{{ thread.sent_at.strftime("%Y-%m-%d %H:%M") }}
<hr>
<p></p>

{% if user_id not in thread_likes %}
{% if username %}
<form action="/send_thread_like" method="POST">
<input type="submit" value="Like">
{% endif %}
<i>Likes: </i>
{{ count_thread_likes }}
<br>
<input type="hidden" name="id" value="{{ thread.id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<form action="/send_thread_unlike" method="POST">
<input type="submit" value="Unlike">
<i>Likes: </i>
{{ count_thread_likes }}
<input type="hidden" name="id" value="{{ thread.id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

{% if username %}
<a href="/comment/{{ thread.id }}">Comment</a>
{% endif %}
<p></p>
<p>comments:</p>
<p></p>

{% if not comment_list %}
<p>None</p>
{% endif %}

{% for comment in comment_list %}
{{ comment.content }}
<br>
<i>User: </i>{{ comment.username }} | <i>Date: </i>{{ comment.sent_at.strftime("%Y-%m-%d %H:%M") }} 
| 
{% if username %}
<form action="/send_comment_like" method="POST" style="display: inline;">
<input type="submit" value="Like">
<input type="hidden" name="comment_id" value="{{ comment.id }}">
<input type="hidden" name="thread_id" value="{{ thread.id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<form action="/send_comment_unlike" method="POST" style="display: inline;">
<input type="submit" value="Unlike">
<input type="hidden" name="comment_id" value="{{ comment.id }}">
<input type="hidden" name="thread_id" value="{{ thread.id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
<i>Likes: </i>{{ comment[4] }}
<p></p>
{% endfor %}