{% if username %}
Logged in as {{ username[0] }}
{% else %}
To post, you need to be logged in.
{% endif %}

<p>
<a href='/'>Back</a><br>
<p></p>
<hr>
<i>Topic: </i>{{ thread.content }}
<br>
<i>User: </i>{{ thread.username }} | <i>Date: </i>{{ thread.sent_at.strftime("%Y-%m-%d %H:%M") }}
<hr>
<p></p>

{% if user_id not in thread_likes %}
<form action="/send_thread_like" method="POST">
<input type="submit" value="Like">
<i>Likes: </i>
{{ count_thread_likes }}
<br>
<input type="hidden" name="id" value="{{ thread.id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<form action="/send_thread_unlike" method="POST">
<input type="submit" value="Unlike">
<i>Likes: </i>
{{ count_thread_likes }}
<input type="hidden" name="id" value="{{ thread.id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

<a href="/comment/{{ thread.id }}">Comment</a>
<p></p>
<p>comments:</p>
<p></p>

{% if not comment_list %}
<p>None</p>
{% endif %}

{% for comment in comment_list %}
{{ comment.content }}
<br>
<i>User: </i>{{ comment.username }} | <i>Date: </i>{{ comment.sent_at.strftime("%Y-%m-%d %H:%M") }} 
| 
<i>Likes: </i>{{ comment[4] }}
<p></p>
{% endfor %}